<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Download9</title>
<link href="/static/css/template_newtask.css" rel="stylesheet" type="text/css">
</head>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/template_profile.js"></script>
<script type="text/javascript" src="/static/js/template_newtask.js"></script>
<script type="text/javascript">$.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}' },});</script>
<body>
<div class = "container">
	<div class = "header">
		<nav>
			<ul class = "ul_left">
				<li class = "title"><a href = "/index">Download9</a></li>
			</ul>
			<ul class = "ul_right">
				<li>任务数量：{{ tasks|length }}/10</li>
				<li>已用空间：/20480MB</li>
				<li>欢迎：{{ username }}</li>
				<li id = "info_user" class = "info_user"><img src = "/static/images/profile.png"></li>
			</ul>
		</nav>
	</div>
	<div id = "info" class = "info">
		<div class = "logout">
			<a href = "/logout"><p>退出登录</p></a>
		</div>
	</div>
	<div class = "dashboard">
		<nav>
			<ul class = "dashboard_all">
				<a href = "/index/tasks"><li class = "title_work">任务</li></a>
				<ul class = "sub_menu">
					<a href = "/index/tasks/all"><li class = "sub_option">全部任务</li></a>
					<a href = "/index/tasks/downloading"><li class = "sub_option">正在下载</li></a>
					<a href = "/index/tasks/completed"><li class = "sub_option">已完成任务</li></a>
				</ul>
				<a href = "/index/new"><li class = "title_work_onpage">新建任务</li></a>
				<ul class = "sub_menu_onpage">
					<a href = "/index/new/newurl"><li class = "sub_option_onpage">新建链接任务</li></a>
					<a href = "/index/new/newbt"><li class = "sub_option">新建BT任务</li></a>
				</ul>
			</ul>
		</nav>
	</div>
	<div class = "content">
		<ul class = "title_content">新建链接任务</ul>
		<form id = "submit_form">
			<p>文件名：</p>
			<input type = "search" id = "task_name" name = "task_name" placeholder = "为空时默认取下载文件名">
			<p>链接：</p>
			<textarea id = "task_link" name = "task_link" placeholder = "下载地址（支持HTTP/HTTPS）"></textarea>
			<input type = "button" id = "submit_button" value = "确定">
		</form>
	</div>
</div>
</body>
</html>
