<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Download9</title>
<link href="/static/css/template_dialog.css" rel="stylesheet" type="text/css">
</head>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script>
$(document).ready(function(){
	$("#Dark,#Dialog_close").click(function(){
		$("#Dark").fadeOut(500);
		$("#Dialog").slideUp(500);
	});
	$("#test").click(function(){
		$("#Dark").fadeIn(500);
		$("#Dialog").slideDown(500);
	});
});
</script>
<body>
<div class = "container">
	<div id = "Dark"></div>
	<div id = "Dialog">
		<div id = "Dialog_Content">
			<span id = "Dialog_close">&times;</span>
			<h1>title</h1>
			<hr />
			<p>Hint text</p>
			<p>Hint text2</p>
		</div>
	</div>
	<button id = "test">显示对话框</button>
</div>
</body>
</html>
