<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Download9</title>
<link href="/static/css/template_task.css" rel="stylesheet" type="text/css">
</head>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/template_profile.js"></script>
<script type="text/javascript" src="/static/js/template_task.js"></script>
<script type="text/javascript">$.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}' },});</script>
<body>
<div class = "container">
	<div class = "header">
		<nav>
			<ul class = "ul_left">
				<li class = "title"><a href = "/index">Download9</a></li>
			</ul>
			<ul class = "ul_right">
				<li>任务数量：{{ tasks|length }}/10</li>
				<li>已用空间：/20480MB</li>
				<li>欢迎：{{ username }}</li>
				<li id = "info_user" class = "info_user"><img src = "/static/images/profile.png"></li>
			</ul>
		</nav>
	</div>
	<div id = "info" class = "info">
		<div class = "logout">
			<a href = "/logout"><p>退出登录</p></a>
		</div>
	</div>
	<div class = "dashboard">
		<nav>
			<ul class = "dashboard_all">
				<a href = "/index/tasks"><li class = "title_work_onpage">任务</li></a>
				<ul class = "sub_menu_onpage">
					<a href = "/index/tasks/all"><li class = "sub_option_onpage">全部任务</li></a>
					<a href = "/index/tasks/downloading"><li class = "sub_option">正在下载</li></a>
					<a href = "/index/tasks/completed"><li class = "sub_option">已完成任务</li></a>
				</ul>
				<a href = "/index/new"><li class = "title_work">新建任务</li></a>
				<ul class = "sub_menu">
					<a href = "/index/new/newurl"><li class = "sub_option">新建链接任务</li></a>
					<a href = "/index/new/newbt"><li class = "sub_option">新建BT任务</li></a>
				</ul>
			</ul>
		</nav>
	</div>
	<div class = "content">
		<ul class = "title_content">全部任务</ul>
		<form method = "get" action = "">
			{% csrf_token %}
			<div class = "table_top">
				<div class = "operation">
					<input type = "submit" id = "operation_delete" value = "删除">
					<input type = "submit" id = "operation_download" value = "取回本地">
				</div>
				<p class = "number_all">个任务正在下载</p>
			</div>
			<table class = "task">
				<tbody>
					<tr class = "task_line_0" id = "task_line_head">
						<td class = "task_tick"><input id = "task_tick_a" type = "checkbox"></td>
						<td class = "task_id">#</td>
						<td class = "task_state">状态</td>
						<td class = "task_name">任务名</td>
						<td class = "task_filename">文件名</td>
						<td class = "task_size">大小</td>
						<td class = "task_process">进度</td>
						<td class = "task_velocity">下载速度</td>
						<td class = "task_timeremain">剩余时间</td>
						<td class = "task_date">任务创建日期</td>
					</tr>
					{% for x in tasks %}
						{% if forloop.counter|divisibleby:2 %}
						<tr class = "task_line_0" id = "task_line_{{ forloop.counter }}">
						{% else %}
						<tr class = "task_line_1" id = "task_line_{{ forloop.counter }}">
						{% endif %}
							<td class = "task_tick"><input id = "task_tick_{{ forloop.counter }}" type = "checkbox"></td>
							<td class = "task_id">{{ forloop.counter }}</td>
							<td class = "task_state"></td>
							<td class = "task_name">{{ x.taskname }}</td>
							<td class = "task_filename"></td>
							<td class = "task_size"></td>
							<td class = "task_process"></td>
							<td class = "task_velocity"></td>
							<td class = "task_timeremain"></td>
							<td class = "task_date"></td>
							<td class = "task_gid" style="display:none;">{{ x.gid }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</form>
	</div>
</div>
</body>
</html>
