<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Download9</title>
<link href="/static/css/template_newtask.css" rel="stylesheet" type="text/css">
</head>
<script type="text/javascript" src="/static/js/jquery.min.css"></script>
<script type="text/javascript" src="/static/js/template_profile.js"></script>
<body>
<div class = "container">
	<div class = "header">
		<nav>
			<ul class = "ul_left">
				<li class = "title"><a href = "">Download9</a></li>
			</ul>
			<ul class = "ul_right">
				<li>任务数量：0/10</li>
				<li>已用空间：0/20480MB</li>
				<li>欢迎：admin</li>
				<li id = "info_user" class = "info_user"><img src = "images/profile.png"></li>
			</ul>
		</nav>
	</div>
	<div id = "info" class = "info">
		<div class = "logout">
			<a href = ""><p>退出登录</p></a>
		</div>
	</div>
	<div class = "dashboard">
		<nav>
			<ul class = "dashboard_all">
				<a href = ""><li class = "title_work">任务</li></a>
				<ul class = "sub_menu">
					<a href = ""><li class = "sub_option">全部任务</li></a>
					<a href = ""><li class = "sub_option">正在下载</li></a>
					<a href = ""><li class = "sub_option">已完成任务</li></a>
				</ul>
				<a href = ""><li class = "title_work_onpage">新建任务</li></a>
				<ul class = "sub_menu_onpage">
					<a href = ""><li class = "sub_option_onpage">新建链接任务</li></a>
					<a href = ""><li class = "sub_option">新建BT任务</li></a>
				</ul>
			</ul>
		</nav>
	</div>
	<div class = "content">
		<ul class = "title_content">新建链接任务</ul>
		<form method = "get" action = "template_newtask.html">
			<p>文件名：</p>
			<input type = "search" id = "task_name" placeholder = "为空时默认取下载文件名">
			<p>链接：</p>
			<textarea id = "task_link" placeholder = "下载地址（支持HTTP/HTTPS）"></textarea>
			<input type = "submit" value = "确定">
		</form>
	</div>
</div>
</body>
</html>
